.container, .container2{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

.container .sort_el1, .container2 .sort_el2{
    position: absolute;
    background-color: green;
    margin-left: 2px;
    height: 400px;
}